scan_workspaces_on_startup = false
secure_cookies = true
httponly_cookies = true

[tcp:public]
port = 8082

[tcp:internal]
port = 55185

[handler:key]
classname = com.logicblox.steve.keyserver.KeyHandler
key_dir = /keys/lb-steve

[workspace:key]
service_key = $(CONFIG_DIR)/key_service_config.json
available = true
