scan_workspaces_on_startup = false
secure_cookies = true
httponly_cookies = true

[handler:steve]
classname = com.logicblox.steve.SteveHandler

[workspace:steve]
service_steve = $(CONFIG_DIR)/steve_service_config.json
available = true

[state]
implementation = dynamodb
table = Job
env_credentials = true
endpoint = dynamodb.us-east-1.amazonaws.com

[job-queue:default]
implementation = sqs
env_credentials = true
sqs_endpoint = sqs.us-east-1.amazonaws.com
sqs_queue_url = https://sqs.us-east-1.amazonaws.com/297794765570/steve-jobs

# job queue sections can optionally require queues to be created if they do not exist.
# create = true

# if multiple job queues exist, then the default one must be indicated.
# default = true

[status-queue]
implementation = sqs
env_credentials = true
sqs_endpoint = sqs.us-east-1.amazonaws.com
sqs_queue_url = https://sqs.us-east-1.amazonaws.com/297794765570/steve-jobs-results

[job-implementations]
prefix = s3://steve-jobs/jobs-impl
