tmpdir = /tmp

[job-queue:medium]
sqs_queue_url = https://sqs.us-east-1.amazonaws.com/297794765570/martin-steve-jobs-medium
default = true
create = true

[job-queue:large]
sqs_queue_url = https://sqs.us-east-1.amazonaws.com/297794765570/martin-steve-jobs-large
create = true

[status-queue]
sqs_queue_url = https://sqs.us-east-1.amazonaws.com/297794765570/martin-steve-jobs-status

[job-implementations]
prefix = s3://steve-jobs/jobs-impl

[state]
table = TestJob

[job-logs]
prefix = s3://steve-jobs/jobs

